@import "bourbon"
@import "neat"
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic)


@include reset-all

$white:   #fff
$black:   #212121
$grey:    #9c9c9c
$dgrey:   #4d4d4d
$lgrey:   #e1e1e1

$red:     #ed5f5f

$sandy:   #f5f0e9

$asset-pipeline: true

@include font-face(permian, 'permianseriftypeface', 400, normal)
@include font-face(permian, 'permianseriftypeface-italic', 300, italic)
@include font-face(permian, 'permianseriftypeface-bold', 700, normal)


@include font-face(Room, 'Room-Bold', 700, normal)
@include font-face(Room, 'Room-Thin', 300, normal)
@include font-face(Ionicons, 'ionicons', 400, normal)

@include font-face(fontello, 'fontello', 400, normal)

// "Maiola", Maiola,
$maiola: permian, "permian", "PT Serif", "Times New Roman", Arial
$room: "Room", Room, Helvetica, Sans, Arial


@mixin thin($font-size: 18px, $line-height: 24px)
  font: 300 #{$font-size}/#{$line-height} $room
  -webkit-font-smoothing: antialiased


@mixin bold($font-size: 12px, $line-height: 16px)
  font: 700 #{$font-size}/#{$line-height} $room
  -webkit-font-smoothing: antialiased

@mixin normal($font-size: 14px, $line-height: 22px)

  font: 400 #{$font-size - 1px}/#{$line-height} $maiola
  -webkit-font-smoothing: antialiased

@mixin italic($font-size: 14px, $line-height: 22px)
  font: 400 italic #{$font-size - 2px}/#{$line-height - 1px} $maiola
  -webkit-font-smoothing: antialiased
  letter-spacing: initial

@mixin bolditalic($font-size: 14px, $line-height: 22px)
  font: 700 normal #{$font-size}/#{$line-height} $maiola
  -webkit-font-smoothing: antialiased

@mixin cf
  &:after
    display: table
    content: ""
    clear: both

@mixin edit($color: black, $important: false)
  @if $important
    *
      background: rgba($color, .05) !important
  @else
    *
      background: rgba($color, .05)

ul
  margin: 0
  padding: 0
p
  margin: 0
  padding: 0

@mixin ion($content: "", $size: inherit)
  display: inline-block
  font-family: "Ionicons"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  content: $content
  font-size: $size

@mixin fa($content: "", $size: inherit)
  display: inline-block
  font-family: "FontAwesome"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  content: $content
  font-size: $size


.pull-right
  float: right
.pull-left
  float: left
