@import "_normalize"
@import "bourbon"
@import "settings"
@import "kit"

.content_header
  .button
    display: inline-block
    position: absolute
    right: 10px
    top: 64px
    color: $grey
    border-color: $lgrey
    padding: 3px 28px
    &:hover
      color: $white
  .open_fullscreen
    color: $dgrey
    border-color: $dgrey
    width: 136px
    margin-left: -68px
    left: 50%
    &:hover
      border-color: $grey


.video
  padding-bottom: 30px
.slideshow
  .counter
    position: absolute
    right: 0
    bottom: -45px
    font-size: 10px

.slick-slider
  margin-bottom: 100px
  .slick-slide
    text-align: center
    height: 450px
    img
      display: inline-block
      height: 100%
  .slick-dots
    li
      margin: 0px
      button

        &:before
          font-size: 11px
          color: $grey
      &.slick-active
        button:before
          color: $dgrey
p
  .slick-dots
    width: 700px
  .slick-slide
    text-align: center
    height: 450px
    img
      position: static
      left: auto
      display: inline-block
      height: 100% !important
      width: auto !important

.blog_post
  .posts
    +cf
    padding-bottom: 20px
  .bottom_block
    padding-bottom: 40px
  .post_header
    position: relative
    &:after
      clear: both
      display: table
      content: ""
  .illustration
    height: 300px
    background: center center no-repeat
    background-size: cover
  .container
    text-align: left
    &.articles
      margin-top: 5px
  .date
    position: absolute
    top: 0
    left: 0
    vertical-align: top
    display: inline-block
    color: $grey
    width: 183px
    span
      color: $black
  .theme
    // margin-bottom: 50px
    width: 520px
    text-align: left
    // text-indent: -113px
    display: inline-block
    margin-left: 300px
    color: $grey
    line-height: 30px
    span
      color: $black

  .sharing
    height: 150px
    display: block
    width: 300px
    display: inline-block
    vertical-align: top
  .description_and_introtext
    width: 600px
    display: inline-block
    vertical-align: top
    .description
      +italic(15px,22px)
      width: 400px
      margin-bottom: 27px
      text-align: left
    .introtext
      +bolditalic(14px,22px)
      text-transform: uppercase
      width: auto
      width: 565px
      margin-bottom: 30px
      letter-spacing: 0.12em
      text-align: left
  // .post_content

  .similar_posts
    h4
      text-align: center
      padding: 0



.search_result
  padding-top: 35px
  h1,h2
    text-align: left
  form
    input[type=text]
      display: block
      width: 66%
      margin: 45px 0
.posts
  +cf




