@import "_normalize"
@import "bourbon"
@import "settings"
@import "kit"

.content_header
  .types
    position: absolute
    left: 50%
    top: 36px
    margin-left: -128px
    li
      display: inline-block
      border-radius: 3px
      margin-right: 20px
      padding-bottom: 1px
      cursor: pointer
      a
        padding: 2px 6px 2px 6px
        +bold(12px)
        background: none
        color: $grey
        text-decoration: none
      &.active
        background: $black
        pointer-events: none
        cursor: auto
        a
          color: $white
      &:hover
        a
          color: $black
  .city
    position: absolute
    right: 10px
    top: 35px

    border-radius: 5px
    padding: 2px 60px 2px 6px
    +italic(12px)
    cursor: pointer

.posts
  .container
    text-align: left
    &:after
      content: ""
      display: table
      clear: both
  .post
    position: relative
    display: inline-block
    float: left
    width: 285px
    height: 451px
    margin-right: 12px
    &:nth-child(3n)
      margin-right: 0px
    .picture
      width: 285px
      height: 255px
      overflow: hidden
      img
        width: 100%
    .info
      h4
        text-align: center
        padding: 12px 14px 10px 14px
      p.text
        font-size: 14px
        height: 150px
        padding: 0px 14px 10px 14px
        overflow: hidden





