@import "_normalize"
@import "bourbon"
@import "settings"
@import "kit"


// +edit()


body
  background: $white


.fullscreen_promo
  position: relative
  height: 720px
  background: url(/bg1.jpg) center center no-repeat
  background-size: cover
  background-attachment: fixed
  .search
    color: $dgrey
    position: absolute
    display: inline-block
    right: 25px
    top: 75px
    padding-left: 16px
    background: rgba(255,255,255,0)
    // cursor: pointer

    input
      color: $dgrey
      background: rgba(255,255,255,0)
      border: 1px solid rgba(255,255,255,0)
      outline: none !important
      border-radius: 5px
      padding: 4px 22px 2px 9px
      +italic(14px,14px)
      width: 150px
      &:hover

        border: 1px solid rgba(255,255,255,0.5)
      &:focus
        border: 1px solid rgba(255,255,255,0.8)

      &.filled
        border: 1px solid #fff

  .scrolldown
    +italic(16px, 24px)
    text-align: center
    position: relative
    color: $black
    width: 100%
    position: absolute
    bottom: 2px
    &:before
      +ion("\f151  \f151")
      position: absolute
      top: -15px
      left: 50%
      margin-left: -4px
      width: 1px
      line-height: 6px

.fullscreen
  position: relative
  height: 720px
  background: url(/bg1.jpg) center center no-repeat
  background-size: cover
  background-attachment: fixed
  .not_fullscreen
    display: none
  .header
    ul.nav
      top: 25px
      li
        a
          color: $white
          opacity: 0.9
          &:visited
            color: $white
            opacity: 0.9
          &.active
            color: $white
            opacity: 1
          &:hover
            color: $white
            opacity: 1
    .toggle_magazines
      top: 25px
      color: $white
    .magazines
      top: 60px

    .search
      color: $white
      position: absolute
      display: inline-block
      right: 25px
      top: 25px
      padding-left: 16px
      background: rgba(255,255,255,0)
      // cursor: pointer

      input
        color: $white
        background: rgba(255,255,255,0)
        border: 1px solid rgba(255,255,255,0)
        outline: none !important
        border-radius: 5px
        padding: 4px 22px 2px 9px
        +italic(14px,14px)
        width: 150px
        &:hover

          border: 1px solid rgba(255,255,255,0.5)
        &:focus
          border: 1px solid rgba(255,255,255,0.8)

        &.filled
          border: 1px solid #fff




  .logo
    color: $white
    text-align: center
    margin-top: 250px

  .hr
    width: 620px
    color: $white
    margin: 0 auto
    // border-color: $white


  p.description
    margin-top: 20px
    +italic(16px, 24px)
    color: $white
    text-align: center

  .scrolldown
    +italic(16px, 24px)
    text-align: center
    position: relative
    color: $white
    width: 100%
    position: absolute
    bottom: 2px
    &:before
      +ion("\f151  \f151")
      position: absolute
      top: -15px
      left: 50%
      margin-left: -4px
      width: 1px
      line-height: 6px

.slider
  background: $sandy
  .half
    vertical-align: middle

.store
  background: $white


.blog
  .previews
    white-space: nowrap
    margin-top: 60px
    margin-bottom: 60px
    .post
      position: relative
      display: inline-block
      width: 50%
      height: 320px
      background-size: cover
      cursor: pointer
      .info
        position: absolute
        width: 100%
        height: 100%
        background: rgba(141,141,141,0.8)
        color: $white
        opacity: 0
        transition: opacity 0.3s ease
        text-align: center
        .title
          +bold(14px,24px)
          margin-top: 120px
        .introtext
          +italic(16px,22px)
          white-space: normal
          width: 70%
          margin-left: 15%
          margin-top: 10px
      &:hover
        .info
          opacity: 1



.main
  .slick-prev, .slick-next
    width: 40px
    height: 40px
  .slick-next
    right: -90px
  .slick-prev
    left: -90px
  .slick-prev:before, .slick-next:before
    font-size: 30px
    color: $dgrey
  .slider.block
    padding: 40px 0 20px 0
  .promo_blocks
    .slick-slide
      height: 630px

@media only screen and (max-width: 640px)
  .main
    .slick-next
      display: none !important
    .slick-prev
      display: none !important

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3)
  .main
    .slick-next
      display: none !important
    .slick-prev
      display: none !important

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71)
  .main
    .slick-next
      display: none !important
    .slick-prev
      display: none !important

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
  .main
    .slick-next
      display: none !important
    .slick-prev
      display: none !important




.promo_blog_block
  .previews
    vertical-align: top
    margin: 0
    .post
      vertical-align: top
      cursor: auto
  .info
    opacity: 1 !important

  .button
    position: relative
    top: 135px
    border-color: $white !important
    background: $white !important
    color: $dgrey !important


.bottom_promo_block
  height: 300px
  background-size: cover
  // background-attachment: fixed
  .button
    color: $lgrey
    border-color: $lgrey
    position: absolute
    display: inline-block
    // text-transform: none
    // +italic(14px,24px)
    left: 50%
    transform: translateX(-50%)
    -webkit-transform: translateX(-50%)
    top: 130px
    padding: 11px 20px
    padding-top: 13px

.bottom_promo_block+.footer
  margin-top: 0

.promo_blocks
  .block
    max-height: 630px








